<header id="header">
    {{ if not (.Site.Params.disableLogo | default false) }}
    <div class="logo">
        <span class="icon fa-{{ .Site.Params.logo | default "diamond" }}"></span>
    </div>
    {{ end }}
    <div class="content">
        <div class="inner">
            <h1>{{ .Title }}</h1>
            <p>{{ .Content | markdownify }}</p>
        </div>
    </div>
    <nav>
        <ul>
            {{ range .Pages }}
            <li><a href="#{{ lower .Title }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>
